<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="${#strings.capitalize(flix.name)}"></title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Flix Details</h2>
    <div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${flix.name}">name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${flix.description}">Description</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Genre:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${flix.genre}">Genre:</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Avg. Rating:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${flix.avgRating}">Avg. Rating:</p>
                </div>
            </div>
        </div>
        <hr/>
        <div th:if="${not #lists.isEmpty(flix.comments)}">
            <h4>Comments</h4>
            <div class="divider" style="margin-top:10px;"></div>
            <div th:each="cm: ${flix.comments}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Username:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${{cm.username}}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Message:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${{cm.message}}"></p>
                    </div>
                </div>

            </div>
            <hr />
        </div>
        <!--<p>Comments:-->
        <!--<ul th:each="cm: *{flix.comments}">-->
            <!--<li th:text="${{cm.username}}"></li>-->
            <!--<li th:text="${{cm.message}}"></li>-->
        <!--</ul>-->
        <!--</p>-->

    </div>
</div>

</body>
</html>