<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Flix Rating</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(listFlix)}">
        <h2>List of Flixes</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Genre</th>
                <th>Average Rating</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="flix,iterationStatus : ${listFlix}">
                <td th:text="${flix.name}">Name</td>
                <td th:text="${#strings.abbreviate(flix.description,90)}">Description</td>
                <td th:text="${flix.genre}">Genre</td>
                <td th:text="${#numbers.formatDecimal(flix.avgRating,0,2)}" class="avgRating">Average Rating</td>
                <td><a th:href="${ '/flix/update/' + flix.id}" class="btn btn-success btn-xs"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></a></td>
                <td><a th:href="${'/flix/' + flix.id}" class="btn btn-warning btn-xs"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></td>
                <td><a th:href="${'/flix/remove/' + flix.id}" class="btn btn-danger btn-xs"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></td>
            </tr>
        </table>

    </div>

    <div class="row">
        <div class="col-sm-5">
            <div class="pagination"><p>Showing <span class="badge"
                                                       th:text="${page.size * (page.number-1) + 1}"></span> to
                <span class="badge" th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1)+ page.size}"></span> of
                <span class="badge"
                      th:text="${page.totalElements}"></span>
                flixes</p></div>
        </div>

        <div class="col-sm-7">
            <!-- Pagination Bar -->
            <div th:fragment='paginationbar'>
                <div class="text-center">
                    <ul class='pagination pagination-centered'>
                        <li th:class="${page.firstPage}?'disabled':''">
                            <span th:if='${page.firstPage}'>← First</span>
                            <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←
                                First</a>
                        </li>
                        <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span th:if='${not page.hasPreviousPage}'>«</span>
                            <a th:if='${page.hasPreviousPage}'
                               th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                               title='Go to previous page'>«</a>
                        </li>
                        <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                            <span th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a th:if='${not item.current}'
                               th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                    th:text='${item.number}'>1</span></a>
                        </li>
                        <li th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span th:if='${not page.hasNextPage}'>»</span>
                            <a th:if='${page.hasNextPage}'
                               th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                               title='Go to next page'>»</a>
                        </li>
                        <li th:class="${page.lastPage}? 'disabled' : ''">
                            <span th:if='${page.lastPage}'>Last →</span>
                            <a th:if='${not page.lastPage}'
                               th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

</div>
<!--<script type="application/javascript">-->
    <!--$.fn.stars = function() {-->
        <!--return $(this).each(function() {-->
            <!--// Get the value-->
            <!--var val = parseFloat($(this).html());-->
            <!--// Make sure that the value is in 0 - 5 range, multiply to get width-->
            <!--var size = Math.max(0, (Math.min(5, val))) * 16;-->
            <!--// Create stars holder-->
            <!--var $span = $('<td/>').width(size);-->
            <!--// Replace the numerical value with stars-->
            <!--$(this).html($span);-->
        <!--});-->
    <!--}-->

    <!--$(function () {-->
       <!--$('td.avgRating').stars();-->
    <!--});-->
<!--</script>-->
</body>
</html>