<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flix</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<a th:href="@{/flix}">Add a Flix</a>
<form action="#" th:action="@{/flix/search/__${name}__}" method="post">
    <p>Search: <input type="text" id="name"  name="name"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<div class="align-content-around">
    <h2>List of flix</h2>
    <table class="table-responsive table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Average Rating</th>
            <th>Edit Flix</th>
            <th>Remove Flix</th>
            <!--<th>Up Vote</th>-->
            <!--<th>Down Vote</th>-->
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fl: ${listFlix}">
            <td th:text="${{fl.name}}"></td>
            <td th:text="${{fl.description}}"></td>
            <td th:text="${{fl.genre}}"></td>
            <td id="avgRating" th:text="${{fl.avgRating}}"></td>
            <td><a th:href="@{/flix/update/} + ${fl.id}">View</a> </td>
            <td><a th:href="@{/flix/remove/}+${fl.id}">Remove</a></td>
            <!--<td><a name="addRating" href="#" th:id="${{fl.id}}">Up</a></td>-->
            <!--<td><a name="subRating" href="#" th:id="${{fl.id}}">Down</a></td>-->
            <td>
                <ul th:each="cm: *{fl.comments}">
                    <li th:text="${{cm.username}}"></li>
                    <li th:text="${{cm.message}}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="col-sm-7">
        <!-- Pagination Bar -->
        <div th:fragment='paginationbar'>
            <div class="text-center">
                <ul class='pagination pagination-centered'>
                    <li th:class="${page.firstPage}?'disabled':''">
                        <span th:if='${page.firstPage}'>← First</span>
                        <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←
                            First</a>
                    </li>
                    <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                        <span th:if='${not page.hasPreviousPage}'>«</span>
                        <a th:if='${page.hasPreviousPage}'
                           th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                           title='Go to previous page'>«</a>
                    </li>
                    <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                        <span th:if='${item.current}' th:text='${item.number}'>1</span>
                        <a th:if='${not item.current}'
                           th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                th:text='${item.number}'>1</span></a>
                    </li>
                    <li th:class="${page.hasNextPage}? '' : 'disabled'">
                        <span th:if='${not page.hasNextPage}'>»</span>
                        <a th:if='${page.hasNextPage}'
                           th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                           title='Go to next page'>»</a>
                    </li>
                    <li th:class="${page.lastPage}? 'disabled' : ''">
                        <span th:if='${page.lastPage}'>Last →</span>
                        <a th:if='${not page.lastPage}'
                           th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">
</script>
<script src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="application/javascript">
   $("a[name='addRating']").click(function () {
       $.ajax({
           url: "/flix/addRating",
           data: {id: $("a[name='addRating']").attr('id')}
       }).done(function (data, textStatus, jqXHR) {
           $("td[id='avgRating']").text(data);
       });
   });
</script>
</body>
</html>