<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Flix</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/flix/add}" th:object="${flix}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Description <input type="text" th:field="*{description}" /></p>
    <p>Genre<input type="text" th:field="*{genre}" /></p>
    <p>Average Rating <input type="text" th:field="*{avgRating}" th:readonly="${avgRating}"/></p>
    <p th:if="${#fields.hasErrors('avgRating')}" th:errors="*{avgRating}">Avg. Rating has to be less than 5!</p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    <ul>
        <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
            <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
            <span th:text="${e.message}">The error message</span>
        </li>
    </ul>
</form>
</body>
</html>